body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
   
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align:justify;
}

li:nth-child(even) {
    background-color: #e6e6e6 ;
}

li:nth-child(odd) {
    background-color: skyblue;
}

li span {
    flex-grow: 1;
    margin-right: 10px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
